@media screen and (min-width: 500px) {
    #menu {
        display: block;
        text-decoration: none;
        padding: .5rem .75rem;
        color: white;
        color: #000;
    }

    body {
        background-color: lightblue;
    }

    #content {
        max-width: 1600px;
        margin: 0 auto;
    }

 h1 {
        text-align: center;
        background-color: #e1873d;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
        padding: 60px;
    }

 h2 {
        text-align: center;
        text-decoration-line: underline;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
    }

 h3 {
        background-color: #e1873d;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
    }

 main section {
        text-align: center;
    }

 ul.a {
        text-align: left;
        list-style-type: none;
        border-style: solid;
        padding: 40px;
        font-family: 'Roboto', Helvetica, sans-serif;
        background-color: #3a0314;
        color: white;
   }
 

 .profile {
        display: block;
        float: left;
        width: 200px;
        height: auto;
        object-fit: scale-down;
   }

 .location {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        height: auto;
   }

   nav{
       text-align: center;
       list-style-type: none;
       border-style: solid;
       padding: 40px;
       font-family: 'Roboto', Helvetica, sans-serif;
       background-color: #3a0314;
       color: white;
   }

 footer {
        text-align: center;
        list-style-type: none;
        background-color: #3a0314;
        font-family: 'Roboto', Helvetica, sans-serif;
    }

    text {
        color:white;
    }

}
   
@media only screen and (min-width: 768px) {
    body {
        background-color: lightblue;
    }

    text {
        color:white;
    }

    #content {
        max-width: 1600px;
        margin: 0 auto;
    }

 h1 {
        text-align: center;
        background-color: #e1873d;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
        padding: 60px;
    }

 h2 {
        text-align: center;
        text-decoration-line: underline;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
    }

 h3 {
        background-color: #e1873d;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
    }

 main section {
        text-align: center;
    }

 ul.a {
        text-align: left;
        list-style-type: none;
        border-style: solid;
        padding: 40px;
        font-family: 'Roboto', Helvetica, sans-serif;
        background-color: #3a0314;
        color: white;
   }
 

 .profile {
        display: block;
        float: left;
        width: 200px;
        height: auto;
        object-fit: scale-down;
   }

   nav{
       text-align: center;
       list-style-type: none;
       border-style: solid;
       padding: 40px;
       font-family: 'Roboto', Helvetica, sans-serif;
       background-color: #3a0314;
       color: white;
   }

 footer {
        text-align: center;
        list-style-type: none;
        background-color: #3a0314;
        font-family: 'Roboto', Helvetica, sans-serif;
    }
} 
  
/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    body {
        background-color: lightblue;
    }

    text {
        color:white;
    }


    #content {
        max-width: 1600px;
        margin: 0 auto;
    }

 h1 {
        text-align: center;
        background-color: #e1873d;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
        padding: 60px;
    }

 h2 {
        text-align: center;
        text-decoration-line: underline;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
    }

 h3 {
        background-color: #e1873d;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
    }

 main section {
        text-align: center;
    }

 ul.a {
        text-align: left;
        list-style-type: none;
        border-style: solid;
        padding: 40px;
        font-family: 'Roboto', Helvetica, sans-serif;
        background-color: #3a0314;
        color: white;
   }
 

 .profile {
        display: block;
        float: left;
        width: 200px;
        height: auto;
        object-fit: scale-down;
   }

   nav{
       text-align: center;
       list-style-type: none;
       border-style: solid;
       padding: 40px;
       font-family: 'Roboto', Helvetica, sans-serif;
       background-color: #3a0314;
       color: white;
   }

 footer {
        text-align: center;
        list-style-type: none;
        background-color: #3a0314;
        font-family: 'Roboto', Helvetica, sans-serif;
    }
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background-color: lightblue;
    }

    text {
        color:white;
    }


    #content {
        max-width: 1600px;
        margin: 0 auto;
    }

 h1 {
        text-align: center;
        background-color: #e1873d;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
        padding: 60px;
    }

 h2 {
        text-align: center;
        text-decoration-line: underline;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
    }

 h3 {
        background-color: #e1873d;
        font-family: 'Garamond', 'Lucida Bright', sans-serif;
    }

 main section {
        text-align: center;
    }

 ul.a {
        text-align: left;
        list-style-type: none;
        border-style: solid;
        padding: 40px;
        font-family: 'Roboto', Helvetica, sans-serif;
        background-color: #3a0314;
        color: white;
   }
 

 .profile {
        display: block;
        float: left;
        width: 200px;
        height: auto;
        object-fit: scale-down;
   }

   nav{
       text-align: center;
       list-style-type: none;
       border-style: solid;
       padding: 40px;
       font-family: 'Roboto', Helvetica, sans-serif;
       background-color: #3a0314;
       color: white;
   }

 footer {
        text-align: center;
        list-style-type: none;
        background-color: #3a0314;
        font-family: 'Roboto', Helvetica, sans-serif;
    }
}

/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}